{% extends 'base.html.twig' %}

{% block title %}Edit {{ app.user.pseudo|capitalize }} Profil{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/edit-profile-style.css') }}" />
{% endblock %}
{% block body %} 

<div class="container mt-10">
	 <!-- Breadcrumb -->
						<nav aria-label="breadcrumb" class="main-breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
								<li class="breadcrumb-item"><a href="{{ path('app_profile') }}">Profile</a></li>
								<li class="breadcrumb-item active" aria-current="page">Edit {{ app.user.firstName|capitalize }}</li>
							</ol>
						</nav>
		<!-- /Breadcrumb -->
	<div class="row">
			<div class="col-md-4">
					<div class="panel">
							<div class="panel-body text-center">             

									<div class="pv-lg">
									 {% if app.user.avatarName == null %}
									<img class="rounded-circle mb-3" src="{{ asset('images/logo_navbar.png') | imagine_filter('thumb') }}" alt="Avatar user">
									{% else %}
									<img class="rounded-circle mb-3" src="{{ vich_uploader_asset(app.user,'avatarFile') | imagine_filter('thumb') }}" alt="Avatar user">
							 {% endif %}
									</div>
									<h3 class="m0 text-bold">{{ app.user.firstName|capitalize }}</h3>
									<div class="mv-lg">
											<p>Hello, If you want to contact us click on the button below. <br>Otherwise have fun!</p>
									</div>
									<div class="text-center"><a class="btn btn-info btn-sm" href="{{ path('app_contact') }}">Contact us</a></div>
							</div>
					</div>   
			</div>
				<div class="col-md-8 form-row">
						<div class="row panel text-center mx-auto my-auto">
							<div class="mx-auto my-auto text-center">
							<h4 class="mb-3 mt-3">Contact Information</h4>
							</div>												 
								<div class="form-group mx-auto my-auto">
									<div class="">
											{{ form_start(EditProfileForm) }}
									 
													<div class="col-md-12">
															{{ form_row(EditProfileForm.pseudo,{
															'help' : 'Will be displayed in navbar'}) }}
													</div>
														<div class="col-md-12">
															{{ form_row(EditProfileForm.firstName) }}
													</div>
													<div class="col-md-12">
															{{ form_row(EditProfileForm.club) }}
													</div>
														<div class="col-md-12">
															{{ form_row(EditProfileForm.region) }}
													</div>								
													<div class="col-md-12">
															{{ form_row(EditProfileForm.division) }}
													</div>
														<div class="col-md-12">
															{{ form_row(EditProfileForm.avatarFile,{
															'help' : 'Will be displayed in navbar, otherwise a default image will be displayed, accepted format is jpeg only'}) }}
													</div> 
						<button class="btn btn-info btn-sm btn-block mt-6" type="submit" formnovalidate>
						Edit
						</button>
						{{ form_end(EditProfileForm) }}
						<p class="mt-3 text-center text-muted">
							 To unsubscribe <a href="#">click here</a>
						</p>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>
		
{% endblock %}
