{% extends 'base.html.twig' %}

{% block title %}{{ app.user.pseudo|capitalize }} Profile{% endblock %}
		{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/profile-style.css') }}" />
{% endblock %}

{% block body %}

{# test profile #}
<div class="container mt-10">
		<div class="main-body">
		
					<!-- Breadcrumb -->
					<nav aria-label="breadcrumb" class="main-breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">{{ app.user.firstName|capitalize }}</li>
						</ol>
					</nav>
					<!-- /Breadcrumb -->
		
					<div class="row gutters-sm">
						<div class="col-md-4 mb-3">
							<div class="card">
								<div class="card-body">
									<div class="d-flex flex-column align-items-center text-center">
									{% if app.user.avatarName == null %}
									<img src="{{ asset('images/logo_navbar.png') | imagine_filter('thumb') }}" alt="Avatar user" class="avatar" alt="Avatar">
									{% else %}
										<img src="{{ vich_uploader_asset(app.user,'avatarFile') | imagine_filter('thumb') }}" alt="Avatar user" class="rounded-circle" width="150">
									{% endif %}                    
										<div class="mt-3 mb-3">
											<h4>{{ app.user.pseudo|capitalize }}</h4>
											{# <p class="text-secondary mb-1">{{ app.user.club|capitalize }}</p>
											<p class="text-muted font-size-sm">{{ app.user.region|capitalize }}</p>
											<p class="text-muted font-size-sm">{{ app.user.division|capitalize }}</p> #}

											{# <button class="btn btn-info">Edit profile</button> #}
											{# <button class="btn btn-outline-info">Edit profile</button> #}
											<a class="btn btn-outline-info" href="{{ path('edit_profile') }}">Edit profile</a>
										</div>
									</div>
								</div>
							</div>
				 
						</div>
						<div class="col-md-8">
							<div class="card mb-3">
								<div class="card-body">
									<div class="row">
										<div class="col-sm-3">
											<h6 class="mb-0">Firstname</h6>
										</div>
										<div class="col-sm-9 text-secondary">
											{{ app.user.firstname|capitalize }}
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<h6 class="mb-0">Email</h6>
										</div>
										<div class="col-sm-9 text-secondary">
											{{ app.user.email|capitalize }}
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<h6 class="mb-0">IPSC CLUB</h6>
										</div>
										<div class="col-sm-9 text-secondary">
											{{ app.user.club|capitalize }}
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<h6 class="mb-0">Country</h6>
										</div>
										<div class="col-sm-9 text-secondary">
											{{ app.user.region|capitalize }}
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-sm-3">
											<h6 class="mb-0">IPSC Division</h6>
										</div>
										<div class="col-sm-9 text-secondary">
											{{ app.user.division|capitalize }}
										</div>
									</div>
								</div>
							</div>
						</div>
						</div>
							<div class="row gutters-sm">
								<div class="col-md-6 mb-3">
									<div class="card h-100">
										<div class="card-body">
											<h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">format_list_bulleted</i>{{ app.user.matchs|length }} &nbsp; IPSC Matchs</h6>
											<small>Web Design</small>
											<div class="progress mb-3" style="height: 5px">
												<div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
											<small>Website Markup</small>
											<div class="progress mb-3" style="height: 5px">
												<div class="progress-bar bg-info" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
											<small>One Page</small>
											<div class="progress mb-3" style="height: 5px">
												<div class="progress-bar bg-info" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
											<small>Mobile Template</small>
											<div class="progress mb-3" style="height: 5px">
												<div class="progress-bar bg-info" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
											<small>Backend API</small>
											<div class="progress mb-3" style="height: 5px">
												<div class="progress-bar bg-info" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 mb-3">
									<div class="card h-100">
										<div class="card-body">
											<h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">format_list_numbered</i>{{ app.user.stages|length }}&nbsp; IPSC stages  </h6>
											<small>Web Design</small>
											<div class="progress mb-3" style="height: 5px">
												<div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
											<small>Website Markup</small>
											<div class="progress mb-3" style="height: 5px">
												<div class="progress-bar bg-info" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
											<small>One Page</small>
											<div class="progress mb-3" style="height: 5px">
												<div class="progress-bar bg-info" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
											<small>Mobile Template</small>
											<div class="progress mb-3" style="height: 5px">
												<div class="progress-bar bg-info" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
											<small>Backend API</small>
											<div class="progress mb-3" style="height: 5px">
												<div class="progress-bar bg-info" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						
					
				</div>
		</div>




		
{% endblock %}
