{% extends 'base.html.twig' %}{% block title %}{{ app.user.pseudo|capitalize }} Profile{% endblock %}{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/profile-style.css') }}" />
{% endblock %}{% block body %}{# test profile #}

{% if app.user.isverified == false %}
	<div class="alert alert-error mt-6" role="alert">
            You need to have a verified account before access to all features !
     </div>;
{% endif %}
<div class="container mt-10">
	<div class="main-body">
		<!-- Breadcrumb -->
		<nav aria-label="breadcrumb" class="main-breadcrumb">
			<ol class="breadcrumb light-color">
				<li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">{{ app.user.firstName|capitalize }}</li>
			</ol>
		</nav>
		<!-- /Breadcrumb -->
		<div class="row gutters-sm">
			<div class="col-md-4 mb-3">
				<div class="card">
					<div class="card-body">
						<div class="d-flex flex-column align-items-center text-center mt-5">
							{% if app.user.avatarName == null %}
							<img src="{{ asset('images/logo_navbar.png') | imagine_filter('thumb') }}" alt="Avatar user" class="avatar" alt="Avatar">
							{% else %}
							<img src="{{ vich_uploader_asset(app.user,'avatarFile') | imagine_filter('thumb') }}" alt="Avatar user" class="rounded-circle" width="150">
							{% endif %}
							<div class="mt-3 mb-4">
								<h4 class="mb-3">{{ app.user.pseudo|capitalize }}</h4>
								<p class="text-muted">
									<small>
										<span class="material-icons align-bottom">query_builder</span>
										 Account created on {{ app.user.createdAt|date('m/d/Y') }}
									</small>
								</p>
								<a class="btn btn-outline-info mb-1" href="{{ path('app_edit_profile') }}">Edit profile</a>
								<a class="btn btn-outline-info mb-1" href="{{ path('app_profile_change_password') }}">Change Password</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="card mb-3">
					<div class="card-body">
						<div class="row">
							<div class="col-sm-3">
								<h6 class="mb-0">
									Pseudo
								</h6>
							</div>
							<div class="col-sm-9 text-secondary">
								{{ app.user.Pseudo|capitalize }}
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
								<h6 class="mb-0">
									Firstname
								</h6>
							</div>
							<div class="col-sm-9 text-secondary">
								{{ app.user.firstname|capitalize }}
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
								<h6 class="mb-0">
									Email
								</h6>
							</div>
							<div class="col-sm-9 text-secondary">
								{{ app.user.email|capitalize }}
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
								<h6 class="mb-0">
									IPSC club
								</h6>
							</div>
							<div class="col-sm-9 text-secondary">
								{{ app.user.club }}
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
								<h6 class="mb-0">
									Country
								</h6>
							</div>
							<div class="col-sm-9 text-secondary">
								{{ app.user.region}}
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-3">
								<h6 class="mb-0">
									IPSC Division
								</h6>
							</div>
							<div class="col-sm-9 text-secondary">
								{{ app.user.division }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row gutters-sm">
			<div class="col-md-12">
				<div class="card h-100" id="myTable">
					<div class="card-body">
						<div class="d-flex justify-content-between align-items-center mb-3">
							<h6>
								<i class="material-icons text-info mr-2 align-middle">format_list_bulleted</i>
								{{ app.user.matchs|length }} &nbsp; IPSC Matchs
							</h6>
							<a class="btn btn-outline-info btn-sm" href="{{ path('app_match_create') }}">Create new match</a>
							<a class="btn btn-info btn-sm ml-3" href="{{ path('app_stage_create') }}">Create new stage</a>
						</div>
						{% for match in app.user.matchs %}
						<small class="">
						{# test : {{ match.getPercentStage }}
						test 2 :{{ match.getPercentStage|format_number(style='percent')}}
						test 3 :{{ match.getPercentStage|format_number(locale='fr')}} #}

							<a class="a-profile-match" href="{{ path('app_match_show', {'id': match.id}) }}">{{ match.name|capitalize }}</a>
						</small>
						<span class="material-icons align-bottom collaps-stage" data-toggle="collapse" data-target="#match{{ match.getId }}" data-parent="#myTable">expand_more</span>
						<span class="badge badge-info badge-pill">{{ match.getStages|length }}/{{ match.getNbrStage }}</span>
						<div class="progress mb-3" style="height: 13px">
							<div class="progress-bar bg-info" role="progressbar" style="width: 0" aria-valuemin="0" aria-valuenow="{{ match.getPercentStage|number_format(2, '.', ',') }}"  aria-valuemax="{{ match.getNbrStage }}">
								{{ match.getPercentStage|format_number(locale='fr') }}
							</div>							
						</div>
						<div id="match{{ match.getId }}" class="collapse mb-3">
							<div colspan="6" class="hiddenRow">
								<small class="text-muted">
									<i class="material-icons text-info mr-2 align-middle">format_list_numbered</i>
									{{ match.getStages|length }}&nbsp; stages
								</small>
								{# {% for stagesList in match.getStages %} #}
								<div class="table-responsive text-center rounded">
									<table class="table table-sm table-striped">
										<thead>
											<tr class="table-info">
												<th>
													<small>
														stage name
													</small>
												</th>
												<th>
													<small>
														stage number
													</small>
												</th>
												<th>
													<small>
														maxpoints
													</small>
												</th>
												<th>
													<small>
														MinRounds
													</small>
												</th>
												<th>
													<small>
														Actions
													</small>
												</th>
												<th>
													<small>
														<label for="select-all">Actions multiples</label>
													</small>
												</th>
											</tr>
										</thead>
										{% for stagesList in match.getStages %}
										<tbody>
											<tr>
												<td>
													<small>
														<a class="a-profile-match" href="{{ path('app_stages_show', {id: stagesList.getid}) }}">{% if stagesList.Stagename == null %}Unknown stage{% else %}{{ stagesList.Stagename|capitalize }}{% endif %}</a>
													</small>
												</td>
												<td>
													<small>
														{{ stagesList.stagenumber }}
													</small>
												</td>
												<td>
													<small>
														{{ stagesList.maxpoints }}
													</small>
												</td>
												<td>
													<small>
														{{ stagesList.MinRounds }}
													</small>
												</td>
												<td>
													<small>
														{# view stage #}
														<a href="{{ path('app_stages_show', {id: stagesList.getid}) }}" title="View stage"><span class="material-icons-round iconsuser">visibility</span></a>
														{# Download stage #}
														<a href="{{ stagesList.getFileurl }}" target="_blank" title="Download stage pdf"><span class="material-icons-round iconsuser pdf">picture_as_pdf</span></a>
														{# Unshare stage #}{% if stagesList.showall == true %}
														<a href="#" onclick="event.preventDefault(); document.getElementById('js-stage-unshared-form-{{ stagesList.id }}').submit();" title="unshare stage"><span class="material-icons-round iconsuser unshare">share</span></a>
														<form id="js-stage-unshared-form-{{ stagesList.id }}" action="{{ path('app_stage_share', {'id': stagesList.id}) }}" method="post" style="display: none;">
															<input type="hidden" name="csrf_token" value="{{ csrf_token('stage_share_profile' ~ stagesList.id) }}">
															<input type="hidden" name="_method" value="POST">
														</form>
														{% else %}{# Share stage #}
														<a href="#" onclick="event.preventDefault(); document.getElementById('js-stage-share-form-{{ stagesList.id }}').submit();" title="Share stage"><span class="material-icons-round iconsuser share">share</span></a>
														<form id="js-stage-share-form-{{ stagesList.id }}" action="{{ path('app_stage_share', {'id': stagesList.id}) }}" method="post" style="display: none;">
															<input type="hidden" name="csrf_token" value="{{ csrf_token('stage_share_profile' ~ stagesList.id) }}">
															<input type="hidden" name="_method" value="POST">
														</form>
														{% endif %}{# Mofify stage #}
														<a href="{{ path('app_stage_edit', {'id': stagesList.getid}) }}" target="_blank" title="Modify stage"><span class="material-icons iconsuser updatestage">create</span></a>
														{# Delete stage #}
														<a href="#" title="Delete stage" onclick="event.preventDefault(); confirm('Are you sure you want to delete stage {{ stagesList.getstagename }} ?') && document.getElementById('js-stage-delete-form-{{ stagesList.id }}').submit();"><span class="material-icons-round iconsuser deletestage">delete</span></a>
														{# Form Delete stage #}
														<form id="js-stage-delete-form-{{ stagesList.id }}" action="{{ path('app_stage_delete', {'id': stagesList.id}) }}" method="post" style="display: none;">
															<input type="hidden" name="csrf_token" value="{{ csrf_token('stage_deletion_profil_' ~ stagesList.id) }}">
															<input type="hidden" name="_method" value="DELETE">
														</form>
													</small>
												</td>
												<td>
													<small>
														{# 
														<label class="form-check-label" for="exampleCheck1">Check me out</label>
														 #}
														<input type="checkbox" class="form-check-input select-stage" id="exampleCheck1">
													</small>
												</td>
											</tr>
										</tbody>
										{% endfor %}
									</table>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

<div class="row gutters-sm mt-3">
			<div class="col-md-12">
				<div class="card h-100" id="myTable">
					<div class="card-body">
						<h6>
							<i class="material-icons text-info mr-2 align-middle">shopping_cart</i>
								{{ app.user.uploadLogos|length }} &nbsp; IPSC Logo or Objects
							</h6>
						<div class="div-logo-all">
							
						{% for listlogo in app.user.uploadLogos %}
							
								{# <span class="delete-logo">&times</span> #}
								<div class="div-logo zoom">
								{# Delete logo #}
									<a class="delete-logo-a" href="#" title="Delete logo or object" onclick="event.preventDefault(); confirm('Are you sure you want to delete this Logo or Objects : {{ listlogo.getName }} ?') && document.getElementById('js-logo-delete-form-{{ listlogo.id }}').submit();"><span class="delete-logo">&times</span></a>
									{# Form Delete logo #}
									<form id="js-logo-delete-form-{{ listlogo.id }}" action="{{ path('app_logo_delete', {'id': listlogo.id}) }}" method="post" style="display: none;">
										<input type="hidden" name="csrf_token" value="{{ csrf_token('logo_deletion_profil_' ~ listlogo.id) }}">
										<input type="hidden" name="_method" value="DELETE">
									</form>

									<img id="decor8" class="logo-uploaded " src="{{ asset(listlogo.getLogopath) }}" style="width: 50px; height: 50px" title="{{ listlogo.getName }}" alt="Object">
								</div>

								
													

						{% endfor %}
						</div>	
					</div>
				</div>
			</div>
		</div>




	</div>
</div>

		
{% endblock %}
