{% extends 'base.html.twig' %}

{% block title 'All Stages shared Stages TSV STAGE MAKER !' %}

{% block body %}

    <div class="container mt-10">
        <h1 class="mb-3">All shared stages</h1>
        <div class="d-flex justify-content-between"> 
        {# <p class="h4 text-muted">{{ pluralize(stages.getShowall|length, 'stage') }} created</p> #}
        <input class="form-control col-md-4" id="filtre-input-stage-js" type="text" placeholder="Search..">        
        </div>

       {#  <stage-shared data-stage="{{ stages }}" data-user="{{ app.user ? app.user.id : 0 }}">
            
        </stage-shared> #}



         {% if stages == null %}
            <p>Sorry, No stage shared yet !</p>  
            {% else %}  

            {% for stage in stages %}
                <div class="p-3 mb-3 mt-3 border border-info rounded" id="fonction2">
                   <div class="rounded">
                   {# <img src="{{ stage.getfileurlimg }}" width=230 height=330 title="{{ stage.getfileurlimg }}"> #}
                   <a href="{{ path('app_stages_show', {id: stage.id}) }}"><img src="{{ asset(stage.getfileurlimg) }}" width=200 height=280 class="float-right stageimg" alt="{{ stage.getfileurlimg }}"></a>
                   </div>

                  
                   <h4>
                   <a href="{{ path('app_stages_show', {id: stage.id}) }}">
                   {% if stage.Stagename == null %}
                   Unknown stage
                   {% else %}
                   {{ stage.Stagename|capitalize }}
                   {% endif %}
                   </a>
                   </h4>                  
                  {#  <p>Match: <b>{% for matchList in matchs %}                                 
                        {% if stage.getMatchs.id == matchList.getId %}                
                            {{ matchList.getname|capitalize }}
                            {% elseif stage.getMatchs.id == null %}
                                unknown
                        {% endif %}
                    {% endfor %}  </b> #}
                                 
                   </p>               
                   <hr class="hr-stage">
                   <ul class="media2">                       
                   <li>Stage number: <strong>{{ stage.Stagenumber }}</strong></li>
                   <li>Firearm type: 
                   <strong>
                   {% if  stage.getFirearmId == 1 %}
                    Handgun
                    {% elseif  stage.getFirearmId == 2 %}
                    Rifle
                    {% elseif  stage.getFirearmId == 3 %}
                    Shotgun
                    {% elseif  stage.getFirearmId == 5 %}
                    Action Air
                    {% elseif  stage.getFirearmId == 6 %}
                    Mini-Rifle
                    {% elseif  stage.getFirearmId == 7 %}
                    Pistol Caliber Carbine %}
                {% endif %}
                </strong>
                </li>
                <li>Types of Course: 
                <strong>
                {% if stage.getCourseId  == 0 %}
                    Standard Exercise Course
                    {%  elseif  stage.getCourseId  == 1 %}
                    Short Course
                    {% elseif  stage.getCourseId  == 2 %}
                    Medium Course
                    {% elseif  stage.getCourseId  == 3 %}
                    Long Course
                {% endif %}
                </strong>
                </li>
                <li>Min Rounds: <strong>{{ stage.getMinRounds }}</strong></li>
                <li>Max Points: <strong>{{ stage.getMaxPoints }}</strong></li>
                <li>Number of Targets: <strong>{{ stage.getTrgtPaper }}</strong></li>  
                <li>Number of Popper: <strong>{{ stage.getTrgtPopper }}</strong></li>
                <li>Number of Plates: <strong>{{ stage.getTrgtPlates }}</strong></li>
                <li>Number of NoShoot: <strong>{{ stage.getTrgtPenlty }}</strong></li>
                <li>Number of Bobber: <strong></strong>{{ stage.bobber }}</li>
                <li>Number of Disappearing Targets: <strong>{{ stage.getTrgtVanish }}</strong></li>                     
             </ul>
             <hr class="hr-stage"> 

             <div class="buttonstages">
                 {# <button class="btn btn-info btn-sm" onclick=" window.open('{{ stage.getFileurl }}', '_blank'); return false;">Download pdf</button> #}
                 <a href="{{ stage.getFileurl }}" target="_blank" title="Download stage pdf"><span class="material-icons-round iconstage pdf">picture_as_pdf</span></a>

                 {# <button class="btn btn-info btn-sm" onclick=" window.open('{{ stage.getFileurlimg }}', '_blank'); return false;">Download image</button> #}
                  <a href="{{ stage.getFileurlimg }}" target="_blank" title="Download stage image"><span class="material-icons-round iconstage img">perm_media</span></a>
                 

                 <div class="d-flex justify-content-between text-muted mt-3">   
                     <small>
                        <p class="card-text">Created at: {{ stage.createdAt|date }}</p>                 
                     </small>  
                      <small>
                        <p class="card-text">Created by: {{ stage.user.firstName }}</p>              
                     </small>  
                     <small>                  
                        <p class="card-text">Updated at: {{ stage.updatedAt|date }}</p>
                     </small>
                 </div>                
             </div>
                           

             </div>
         {% endfor %}

         <nav aria-label="...">
          <ul class="pagination">
            <li>{{ knp_pagination_render(stages) }}</li>
          </ul>
        </nav>
         
     {% endif %}



    </div>
        


{% endblock %}
