<!-- <h3>Our Sponsors and Partners</h3> -->
        <div class="container" style="margin-top: 20px;">
            <section class="customer-logos slider slick-initialized slick-slider">
                <div aria-live="polite" class="slick-list draggable">
                    <div class="slick-track" role="listbox" style="opacity: 1; width: 4440px; transform: translate3d(-2960px, 0px, 0px);">
                        <div class="slide slick-slide slick-cloned" data-slick-index="-6" id="" aria-hidden="true" tabindex="-1" style="width: 145px;">
                            <a href="https://www.irislink.com" target="_blank" tabindex="-1">
                            <img src="{{ asset('sponsor/img/sponsors/iris.png') }}" alt="iris">
                            </a>
                        </div>
                        <div class="slide slick-slide slick-cloned" data-slick-index="-5" id="" aria-hidden="true" tabindex="-1" style="width: 145px;">
                            <a href="https://www.ipsc.org" target="_blank" tabindex="-1">
                            <img src="{{ asset('sponsor/img/sponsors/ipsc.png') }}" alt="ipsc">
                            </a>
                        </div>
                        <div class="slide slick-slide slick-cloned" data-slick-index="-4" id="" aria-hidden="true" tabindex="-1" style="width: 145px;">
                            <a href="https://ctcm91.com/" target="_blank" tabindex="-1">
                            <img src="{{ asset('sponsor/img/sponsors/CTCMTSV.png') }}" alt="ctcm91">
                            </a>
                        </div>
                        <div class="slide slick-slide slick-cloned" data-slick-index="-3" id="" aria-hidden="true" tabindex="-1" style="width: 145px;">
                            <a href="https://tsvstagemaker.fr/" target="_blank" tabindex="-1">
                            <img src="{{ asset('sponsor/img/sponsors/tsvstagemaker.png') }}" alt="Tsv Stage Maker">
                            </a>
                        </div>
                        <div class="slide slick-slide slick-cloned" data-slick-index="-2" id="" aria-hidden="true" tabindex="-1" style="width: 145px;">
                            <a href="https://www.bat-alliance-service.fr" target="_blank" tabindex="-1">
                            <img src="{{ asset('sponsor/img/sponsors/bat_alliance_service.png') }}" alt="Batiment Alliance Service">
                            </a>
                        </div>
                        <div class="slide slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true" tabindex="-1" style="width: 145px;">
                            <a href="https://tsvstagemaker.fr/formulaire-de-contact" target="_blank" tabindex="-1">
                            <img src="{{ asset('sponsor/img/sponsors/sponsor_or_partner.png') }}" alt="Tsv Stage Maker contact">
                            </a>
                        </div>
                        <div class="slide slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 145px;">
                            <a href="https://www.irislink.com" target="_blank" tabindex="-1">
                            <img src="{{ asset('sponsor/img/sponsors/iris.png') }}" alt="iris">
                            </a>
                        </div>
                        <div class="slide slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide01" style="width: 145px;">
                            <a href="https://www.ipsc.org" target="_blank" tabindex="-1">
                            <img src="{{ asset('sponsor/img/sponsors/ipsc.png') }}" alt="ipsc">
                            </a>
                        </div>
                        <div class="slide slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide02" style="width: 145px;">
                            <a href="https://ctcm91.com/" target="_blank" tabindex="-1">
                            <img src="{{ asset('sponsor/img/sponsors/CTCMTSV.png') }}" alt="ctcm91">
                            </a>
                        </div>
                        <div class="slide slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide03" style="width: 145px;">
                            <a href="https://tsvstagemaker.fr/" target="_blank" tabindex="-1">
                            <img src="{{ asset('sponsor/img/sponsors/tsvstagemaker.png') }}" alt="Tsv Stage Maker">
                            </a>
                        </div>
                        <div class="slide slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide04" style="width: 145px;">
                            <a href="https://www.bat-alliance-service.fr" target="_blank" tabindex="-1">
                            <img src="{{ asset('sponsor/img/sponsors/bat_alliance_service.png') }}" alt="Batiment Alliance Service">
                            </a>
                        </div>
                        <div class="slide slick-slide" data-slick-index="5" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide05" style="width: 145px;">
                            <a href="https://tsvstagemaker.fr/formulaire-de-contact" target="_blank" tabindex="-1">
                            <img src="{{ asset('sponsor/img/sponsors/sponsor_or_partner.png') }}" alt="Tsv Stage Maker contact">
                            </a>
                        </div>
                        <div class="slide slick-slide" data-slick-index="6" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide06" style="width: 145px;">
                            <a href="https://www.irislink.com" target="_blank" tabindex="-1">
                            <img src="{{ asset('sponsor/img/sponsors/iris.png') }}" alt="iris">
                            </a>
                        </div>
                        <div class="slide slick-slide" data-slick-index="7" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide07" style="width: 145px;">
                            <a href="https://www.ipsc.org" target="_blank" tabindex="-1">
                            <img src="{{ asset('sponsor/img/sponsors/ipsc.png') }}" alt="ipsc">
                            </a>
                        </div>
                        <div class="slide slick-slide" data-slick-index="8" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide08" style="width: 145px;">
                            <a href="https://ctcm91.com/" target="_blank" tabindex="-1">
                            <img src="{{ asset('sponsor/img/sponsors/CTCMTSV.png') }}" alt="ctcm91">
                            </a>
                        </div>
                        <div class="slide slick-slide" data-slick-index="9" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide09" style="width: 145px;">
                            <a href="https://tsvstagemaker.fr/" target="_blank" tabindex="-1">
                            <img src="{{ asset('sponsor/img/sponsors/tsvstagemaker.png') }}" alt="Tsv Stage Maker">
                            </a>
                        </div>
                        <div class="slide slick-slide slick-current slick-active" data-slick-index="10" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide010" style="width: 145px;">
                            <a href="https://www.bat-alliance-service.fr" target="_blank" tabindex="0">
                            <img src="{{ asset('sponsor/img/sponsors/bat_alliance_service.png') }}" alt="Batiment Alliance Service">
                            </a>
                        </div>
                        <div class="slide slick-slide slick-active" data-slick-index="11" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide011" style="width: 145px;">
                            <a href="https://tsvstagemaker.fr/formulaire-de-contact" target="_blank" tabindex="0">
                            <img src="{{ asset('sponsor/img/sponsors/sponsor_or_partner.png') }}" alt="Tsv Stage Maker contact">
                            </a>
                        </div>
                        <div class="slide slick-slide slick-cloned slick-active" data-slick-index="12" id="" aria-hidden="false" tabindex="-1" style="width: 145px;">
                            <a href="https://www.irislink.com" target="_blank" tabindex="0">
                            <img src="{{ asset('sponsor/img/sponsors/iris.png') }}" alt="iris">
                            </a>
                        </div>
                        <div class="slide slick-slide slick-cloned slick-active" data-slick-index="13" id="" aria-hidden="false" tabindex="-1" style="width: 145px;">
                            <a href="https://www.ipsc.org" target="_blank" tabindex="0">
                            <img src="{{ asset('sponsor/img/sponsors/ipsc.png') }}" alt="ipsc">
                            </a>
                        </div>
                        <div class="slide slick-slide slick-cloned slick-active" data-slick-index="14" id="" aria-hidden="false" tabindex="-1" style="width: 145px;">
                            <a href="https://ctcm91.com/" target="_blank" tabindex="0">
                            <img src="{{ asset('sponsor/img/sponsors/CTCMTSV.png') }}" alt="ctcm91">
                            </a>
                        </div>
                        <div class="slide slick-slide slick-cloned slick-active" data-slick-index="15" id="" aria-hidden="false" tabindex="-1" style="width: 145px;">
                            <a href="https://tsvstagemaker.fr/" target="_blank" tabindex="0">
                            <img src="{{ asset('sponsor/img/sponsors/tsvstagemaker.png') }}" alt="Tsv Stage Maker">
                            </a>
                        </div>
                        <div class="slide slick-slide slick-cloned" data-slick-index="16" id="" aria-hidden="true" tabindex="-1" style="width: 145px;">
                            <a href="https://www.bat-alliance-service.fr" target="_blank" tabindex="-1">
                            <img src="{{ asset('sponsor/img/sponsors/bat_alliance_service.png') }}" alt="Batiment Alliance Service">
                            </a>
                        </div>
                        <div class="slide slick-slide slick-cloned" data-slick-index="17" id="" aria-hidden="true" tabindex="-1" style="width: 145px;">
                            <a href="https://tsvstagemaker.fr/formulaire-de-contact" target="_blank" tabindex="-1">
                            <img src="{{ asset('sponsor/img/sponsors/sponsor_or_partner.png') }}" alt="Tsv Stage Maker contact">
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        {# <div class="container">
             <hr class="style-two">
        </div> #}
       