{% extends 'base2.html.twig' %}

{% block title 'Create stages TSV STAGE MAKER !' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/style_tsvstagemaker.css') }}" />
{# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css"> #}
{# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/black-tie/jquery-ui.min.css"> #}
{# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/black-tie/theme.min.css"> #}


{% endblock %}

{% block body %}

<!-- Loader DVC -->
<div class="loader-container">
	<div class="loader">
		<div id='warped'>
			<span class='w0'>D</span>
			<span class='w1'>V</span>
			<span class='w2'>C</span>                   
		</div>

	</div>
</div>
<!-- Loader DVC -->


 <!-- / The Context Menu -->
    <nav id="context-menu" class="context-menu">
        <ul class="context-menu__items">
            <li class="context-menu__item">
                <a href="#" class="context-menu__link" data-action="deleteItem"><i class="fa fa-trash"></i> Delete Item</a>
            </li>
            <li class="context-menu__item">
                <a href="#" class="context-menu__link" data-action="rotateItem"><i class="fa fa-refresh"></i> Rotate Item</a>
            </li>
            <li class="context-menu__item">
                <a href="#" class="context-menu__link" data-action="resizeItem"><i class="fa fa-expand"></i> Resize Item</a>
            </li>
            <li class="context-menu__item">
                {# <a href="#" class="context-menu__link" data-action="warpableItem"><img style="width: 15px;" src="{{ asset('images/svg/bezier-curve-solid.svg') }}"> Warpe Item</a> #}
                <a href="#" class="context-menu__link" data-action="warpableItem"><i class="fa fa-arrows"></i> Warpe Item</a>              

            </li>                    
        </ul>
    </nav>
    <!-- End # Context Menu -->


<div class="container-fluid">
	<div class="section0" id="main">
		{# Partie de droite, dropzone et tableau #}
		<div class="datastage" id="datastage">
			{# DropZone #}
			<div id="dropzone" class="rounded-top border-bottom-0">
				<p class="text-muted pub">
            <small>
                &copy; {{ 'now'|date('Y') }} &middot;
                Version 3.0 Built by YB <a href="https://www.tsvstagemaker.fr">tsvstagemaker.fr &reg;</a>                          
            </small> 
            </p>
			</div>

			{# Tableau de calcule  #}
			<div id="tableau">
			<input value="{{ csrf_token('stage_create') }}" name="_token" type="hidden">

				<table>
					<thead>
						<tr>
							<th class=" nomstage" colspan="10">
								<label class="stagname" for="numstage">STAGE</label>
								<select class="noborder font-weight-bold" name="stagenumber" id="stagenumber">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
									<option value="13">13</option>
									<option value="14">14</option>
									<option value="15">15</option>
									<option value="16">16</option>
									<option value="17">17</option>
									<option value="32">18</option>                  
									<option value="18">19</option>
									<option value="19">20</option>
									<option value="20">21</option>
									<option value="21">22</option>
									<option value="22">23</option>
									<option value="23">24</option>
									<option value="24">25</option>
									<option value="25">26</option>
									<option value="26">27</option>
									<option value="27">28</option>
									<option value="28">29</option>
									<option value="29">30</option>
									<option value="30">31</option>
									<option value="31">32</option>                  
								</select>
								<div class="noborder" contenteditable='true'>               
									<input class="noborder input-stagename font-weight-bold" form-control id="stagename" name="stagename" type="text" placeholder="Enter stage name">
								</div>  

								<label class="labeltal">Ready Condition:
									<select class="noborder font-weight-bold" name="StartOn" id="StartOn">
										<option value="00">1</option>
										<option value="10">2</option>
										<option value="20">3</option>         
									</select>
								</label> 

					<label class="labeltal">Types of Course:
                      <select class="noborder font-weight-bold" name="CourseId" id="ConditionCourseId"> 

                      </select>
                      </label>


								{# <label class="labeltal">Types of Course:

								<select class="noborder font-weight-bold" name="CourseId" id="ConditionCourseId"></select>
										<option value="0">STD EXERCISE</option> 
								 		<p style="display: none;" id="shortc" value="1">SHORT COURSE</p> 
										<p style="display: none;" id="medco" value="2">MEDIUM COURSE</p>
										<p style="display: none;" id="lonco" value="3">LONG COURSE</p> 

									<select class="noborder font-weight-bold" name="CourseId" id="ConditionCourseId">
										{# <option value="0">STD EXERCISE</option> 
										<option style="display: none;" id="shortc" value="1">SHORT COURSE</option> 
										<option style="display: none;" id="medco" value="2">MEDIUM COURSE</option>
										<option style="display: none;" id="lonco" value="3">LONG COURSE</option>                         
									</select>
								</label> #}
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="2" rowspan="2">
								<div class="d-inline-flex">
									<img src="{{ asset('images/LogoBallecoups.png') }}" title="Rounds" style="max-height: 45px;">&nbsp;
									{# <p class="MinRounds" id="nbcp" name="MinRounds">10</p> #}
									<p class="MinRounds" id="nbcp" name="MinRounds"></p>
									<p class="MinRounds">&nbsp;Min rounds</p> <!-- Nombre de coup -->
								</div>
							</td>
							<td> 
								<img src="{{ asset('images/points3.png') }}" title="Points" style="max-width: 20px;" >
							</td> <!-- image Nombre de points -->
							<td> 
								<img src="{{ asset('images/LogoTarget.png') }}" title="IPSC Targets" style="max-width: 25px;" > 
							</td> <!-- image Nombre de cible papier -->
							<td> 
								<img src="{{ asset('images/LogoTarget.png') }}" title="IPSC Targets Mini" style="max-width: 17px;">
							</td><!-- image Nombre de mini cible papier -->
							<td> 
								<img src="{{ asset('images/IPSC_Popper.svg') }}" title="Poppers" style="max-width: 15px;"  > 
							</td> <!-- image Nombre de popper -->
							<td> 
								<img src="{{ asset('images/IPSC_miniPopper.svg') }}" title="Mini Poppers" style="max-width: 13px;" >
							</td> <!-- image Nombre de minipopper -->
							<td> 
								<img src="{{ asset('images/LogoPlate.png') }}" title="PLates" style="max-width: 30px; max-height: 35px;">
							</td> <!-- image Nombre de plate -->
							<td> 
								<img src="{{ asset('images/IPSC_Bobber.gif') }}" title="Bobbers" style="max-width: 35px;">
							</td> <!-- image Nombre de bobber -->
							<td> 
								<img style="vertical-align:middle; max-width: 25px; " src="{{ asset('images/IPSC_Target_NS.png') }}"title="No Shoot"> 
							</td> <!-- image Nombre de noshoot -->  
						</tr>
						<tr>
							<td name="MaxPoints" class="MaxPoints" id="point"></td> <!-- Nombre de points -->
							<td name="TrgtPaper" class="TrgtPaper" id="papier"></td> <!-- Nombre de cible papier --> 
							<td name="TrgtPaper" class="TrgtPaper" id="minipapier"></td> <!-- Nombre de mini cible papier -->
							<td name="TrgtPopper" class="TrgtPopper" id="metal"></td> <!-- Nombre de popper -->
							<td name="TrgtPopper" class="TrgtPopper" id="minimetal"></td> <!-- Nombre de minipopper -->
							<td name="TrgtPlates" class="TrgtPlates" id="plate"></td> <!-- Nombre de plate -->
							<td name="bobber TrgtPaper"  id="bobber"></td> <!-- Nombre de bobber -->
							<td name="TrgtPenlty" class="bord  TrgtPenlty" id="targetNS"></td> <!-- Nombre de noshoot -->
						</tr>

						<tr>
							<td style="padding: 0px; max-width:700px;overflow:auto;" class="proc " colspan="10">
							<label for="StartPos"> Start Position: </label>
								<div class="noborder" rows="4" cols="55" contenteditable='true'>
									<p class="text-break p-StartPos-Descriptn" id="StartPos" name="StartPos">Exemple: Standing erect, facing downrange with arms hanging naturally by the sides.</p>                        
								</div>
							</td>
						</tr>

						<tr>
							<td style="padding: 0px; max-width:700px;overflow:auto;" class="notestage " colspan="10">
							<label for="Descriptn"> Procedure: </label>
								<div class="noborder" rows="3" cols="55" contenteditable='true'>
									<p class="text-break p-StartPos-Descriptn" id="Descriptn" name="Descriptn">Exemple: Engage targets as they become visible.</p>                 
								</div>
								<br>                
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
		{# Partie de gauche, Liste des éléments dragables #}
		<div class="section1">

			<div id="draggable">
				<div id="accordion-resizer">
					<div id="elements">		
						<button  title="Toutes les cibles papier" class="btn btn-info btn-accordion btn-sm"><img src="{{ asset('images/LogoTarget.png') }}" width="25" height="25">&nbsp;IPSC Paper Target</button>
						<div id="paper">

							<!-- Cible papier -->			
							<img id="paper1" class="draggable elementsDraggable TrgtPaper svg-item" src="{{ asset('images/svg/ipsc-target-mini.svg') }}" title="mini target ipsc holder" alt="minitarget"> 
							{# <img id="paper1" class="draggable elementsDraggable TrgtPaper" src="{{ asset('images/IPSC_Mini_Target_iso1.png') }}" title="mini target ipsc" alt="minitarget">
							<img id="paper1" class="draggable elementsDraggable TrgtPaper" src="{{ asset('images/IPSC_Mini_Target_iso2.png') }}" title="mini target ipsc" alt="minitarget"> #}

							{# <img id="paper1" class="draggable elementsDraggable TrgtPaper" src="{{ asset('images/IPSC_Target.png') }}" title="Standard target ipsc" alt="target"> #}
							<img id="paper1" class="draggable elementsDraggable TrgtPaper svg-item" src="{{ asset('images/svg/ipsc-target.svg') }}" title="Standard target ipsc holder" alt="target"> 

						{# 	<img id="paper1" class="draggable elementsDraggable TrgtPaper" src="{{ asset('images/IPSC_Target_iso1.png') }}" title="Standard target ipsc" alt="target"> 
							<img id="paper1" class="draggable elementsDraggable TrgtPaper" src="{{ asset('images/IPSC_Target_iso2.png') }}" title="Standard target ipsc" alt="target">  #}

							<!-- Bobber -->
							<img id="paper1" class="draggable elementsDraggable TrgtPaper svg-item2" src="{{ asset('images/svg/ipsc-Bobber droit.svg') }}" title="Bobber droit" alt="bobber">	
							<img id="paper1" class="draggable elementsDraggable TrgtPaper svg-item2" src="{{ asset('images/svg/ipsc-Bobber gauche.svg') }}" title="Bobber gauche" alt="bobber">
							<img id="paper1" class="draggable elementsDraggable TrgtPaper svg-item" src="{{ asset('images/svg/ipsc-Bobber-haut.svg') }}" title="Bobber centre" alt="bobber">
							{# <img id="paper1" class="draggable elementsDraggable TrgtPaper" src="{{ asset('images/IPSC_Bobber_profile_G_new.png') }}" title="Bobber centre" alt="bobber">
							<img id="paper1" class="draggable elementsDraggable TrgtPaper" src="{{ asset('images/IPSC_Bobber_profile_D_new.png') }}" title="Bobber centre" alt="bobber"> #}
							<img id="paper1" class="draggable elementsDraggable TrgtPaper svg-item" src="{{ asset('images/svg/ipsc-coucou-bas.svg') }}" title="Coucou ipsc bas" alt="bobber">
							<img id="paper1" class="draggable elementsDraggable TrgtPaper svg-item" src="{{ asset('images/svg/ipsc-coucou-haut.svg') }}" title="Coucou ipsc haut" alt="bobber">

							{# cible seul #}
							<img id="paper1" class="draggable elementsDraggable TrgtPaper svg-item" src="{{ asset('images/svg/target-ipsc-std.svg') }}" title="Standard target ipsc" alt="target">
							<img id="paper1" class="draggable elementsDraggable TrgtPaper svg-item4" src="{{ asset('images/svg/target-ipsc-mini.svg') }}" title="Standard target ipsc mini" alt="minitarget">
						

							<!-- Demi cible -->
							<img id="paper1" class="draggable elementsDraggable TrgtPaper svg-item" src="{{ asset('images/svg/target-ipsc-std-cut-horizontal.svg') }}" title="Cut horizontal target ipsc" alt="target">
							<img id="paper1" class="draggable elementsDraggable TrgtPaper svg-item" src="{{ asset('images/svg/target-ipsc-std-cut-vertical.svg') }}" title="Cut vertical target ipsc" alt="target">

							

							<!-- Cibles a bande -->
							<img id="paper1" class="draggable elementsDraggable TrgtPaper svg-item" src="{{ asset('images/svg/target-ipsc-std-bande-exterieur.svg') }}" title="Standard target ipsc bande noire exterieur" alt="target">
							<img id="paper1" class="draggable elementsDraggable TrgtPaper svg-item" src="{{ asset('images/svg/target-ipsc-std-bande-centre.svg') }}" title="Standard target ipsc bande noire milieu" alt="target">
							<img id="paper1" class="draggable elementsDraggable TrgtPaper svg-item" src="{{ asset('images/svg/ipsc-target-bande-centre.svg') }}" title="Standard target ipsc bande noire milieu porte cible"  alt="target">
							<img id="paper1" class="draggable elementsDraggable TrgtPaper svg-item" src="{{ asset('images/svg/ipsc-target-bande-exterieur.svg') }}" title="Standard target ipsc bande noire exterieur porte cible"  alt="target">

							<!-- Cibles NoShoot -->	
							<img id="paper1" class="draggable elementsDraggable TrgtPenlty svg-item" src="{{ asset('images/svg/target-ipsc-nosh.svg') }}" title="Standard Noshoot ipsc" alt="targetNS">	
							<img id="paper1" class="draggable elementsDraggable TrgtPenlty svg-item" src="{{ asset('images/svg/target-ipsc-nosh-zone.svg') }}" title="Standard Noshoot zone ipsc" alt="targetNS">																		
						{# 	<img id="paper1" class="draggable elementsDraggable TrgtPenlty" src="{{ asset('images/IPSC_Target_NS2_iso1.png') }}" title="Standard NS ipsc" alt="targetNS">
							<img id="paper1" class="draggable elementsDraggable TrgtPenlty" src="{{ asset('images/IPSC_Target_NS2_iso2.png') }}" title="Standard NS ipsc" alt="targetNS">
							<img id="paper1" class="draggable elementsDraggable TrgtPenlty" src="{{ asset('images/IPSC_Target_NS2_iso3.png') }}" title="Standard NS ipsc" alt="targetNS">					
							<img id="paper1" class="draggable elementsDraggable TrgtPenlty" src="{{ asset('images/IPSC_Target_NS2_iso4.png') }}" title="Standard NS ipsc" alt="targetNS"> #}
							

							<!-- Cibles SOL piege a balles -->
							<img id="paper1" class="draggable elementsDraggable TrgtPaper" src="{{ asset('images/ciblepiegeD.png') }}" width="34" title="ciblesol" alt="target">	
							<img id="paper1" class="draggable elementsDraggable TrgtPaper" src="{{ asset('images/ciblepiegeG.png') }}" width="34" title="ciblesol" alt="target">	
							<img id="paper1" class="draggable elementsDraggable TrgtPaper svg-item3" src="{{ asset('images/svg/target-ipsc-floor-bullet-trap.svg') }}" width="38" title="target ipsc floor bullet trap" alt="target">	

						</div>				
						<button  title="Toutes les cibles métalique" class="btn btn-info btn-accordion btn-sm"><img src="{{ asset('images/IPSC_Popper.svg') }}"  width="20" height="25">&nbsp;IPSC Steel Target</button>	
						<div id="metalp">

							<!-- Cibles Metaliques blancs-->
							<img id="metal1" class="draggable elementsDraggable TrgtPopper svg-popper"  src="{{ asset('images/svg/popper-blanc.svg') }}"  title="Popper" alt="popper">			
							<img id="metal1" class="draggable elementsDraggable TrgtPopper svg-mini-popper"  src="{{ asset('images/svg/popper-mini-blanc.svg') }}"  title="Mini popper" alt="minipopper"> 
							<img id="metal2" class="draggable elementsDraggable TrgtPopper svg-mini-popper" src="{{ asset('images/svg/plate-ronde-blanc.svg') }}"  title="plate round" alt="plate">			
							<img id="metal4" class="draggable elementsDraggable TrgtPlates svg-mini-popper" src="{{ asset('images/svg/plate-carre-blanc.svg') }}" title="Plate carre" alt="plate"> 
						

							
							<!-- Cibles Metaliques bleus-->
							<img id="metal1" class="draggable elementsDraggable TrgtPopper svg-popper"  src="{{ asset('images/svg/popper-bleu.svg') }}"  title="Popper" alt="popper">			
							<img id="metal1" class="draggable elementsDraggable TrgtPopper svg-mini-popper"  src="{{ asset('images/svg/popper-mini-bleu.svg') }}"  title="Mini popper" alt="minipopper"> 
							<img id="metal2" class="draggable elementsDraggable TrgtPopper svg-mini-popper" src="{{ asset('images/svg/plate-ronde-bleu.svg') }}"  title="plate round" alt="plate">			
							<img id="metal4" class="draggable elementsDraggable TrgtPlates svg-mini-popper" src="{{ asset('images/svg/plate-carre-bleu.svg') }}" title="Plate carre" alt="plate"> 


							<!-- Cibles Metaliques jaunes-->
							<img id="metal1" class="draggable elementsDraggable TrgtPopper svg-popper"  src="{{ asset('images/svg/popper-jaune.svg') }}"  title="Popper" alt="popper">			
							<img id="metal1" class="draggable elementsDraggable TrgtPopper svg-mini-popper"  src="{{ asset('images/svg/popper-mini-jaune.svg') }}"  title="Mini popper" alt="minipopper"> 
							<img id="metal2" class="draggable elementsDraggable TrgtPopper svg-mini-popper" src="{{ asset('images/svg/plate-ronde-jaune.svg') }}"  title="plate round" alt="plate">			
							<img id="metal4" class="draggable elementsDraggable TrgtPlates svg-mini-popper" src="{{ asset('images/svg/plate-carre-jaune.svg') }}" title="Plate carre" alt="plate"> 


						</div>		

						<button  title="Tout les Panneaux et lignes de faute" class="btn btn-info btn-accordion btn-sm"><img src="{{ asset('images/Panneau3_fenetre_new.png') }}" width="30" height="25" >&nbsp;Props & fault lines</button>	
						<div id="decor">

							<!-- Panneaux -->

							{# inclusion twig #}						
							{# {{ source('@public_path'~asset('images/svg/panneau.svg')) }} #}

						{# 	<canvas id="canvas" class="draggable elementsDraggable">
								
							</canvas>
 #}
							<!-- svg direct dans le code -->							
						{# 	<div class="svg-container"> #}					
								<svg id="decorsvg" class="draggable elementsDraggable svg-content" width="91" height="64" viewBox="0 0 91 64">
									<rect x="6.20657" y="42" width="1.42056" height="21" transform="rotate(14.3552 6.20657 42)" fill="#5779B6" />
									<rect x="6.02635" y="41.6958" width="1.92056" height="21.5" transform="rotate(14.3552 6.02635 41.6958)" stroke="black" stroke-opacity="0.6" stroke-width="0.5" />
									<rect x="82.9484" y="42.3693" width="1.42056" height="21" transform="rotate(-14.6511 82.9484 42.3693)" fill="#5779B6" />
									<rect x="82.6433" y="42.1907" width="1.92056" height="21.5" transform="rotate(-14.6511 82.6433 42.1907)" stroke="black" stroke-opacity="0.6" stroke-width="0.5" />
									<rect class="panneau1" x="3.50002" y="0.5" width="83" height="52" fill="#CD7330" fill-opacity="0.58" stroke="#5779B6" />
								</svg>
						{# 	</div> #}

							 {# svg en balise img  #}
							<img id="decor5" class="draggable elementsDraggable" src="{{ asset('images/svg/panneau.svg') }}"  width="80" title="Panneausvg" alt="Panneausvg">

							<img id="decor5" class="draggable elementsDraggable" src="{{ asset('images/Panneau_tsv1.svg') }}"  width="80" title="Panneausvg" alt="Panneausvg">

							 {# img en balise img  #}
							<img id="decor5" class="draggable elementsDraggable" src="{{ asset('images/Panneau1_new.png') }}" width="80" title="Panneau" alt="Panneau1">
							<img id="decor5" class="draggable elementsDraggable" src="{{ asset('images/Panneau2_new.png') }}" width="60" title="Panneau" alt="Panneau2"> 
							<img id="decor5" class="draggable elementsDraggable" src="{{ asset('images/Panneau2_new.png') }}" width="60"height="65" title="Panneau" alt="Panneau2"> 
							<img id="decor5" class="draggable elementsDraggable" src="{{ asset('images/Panneau11_new.png') }}" width="40" title="Panneau" alt="Panneau1">
							<img id="decor5" class="draggable elementsDraggable" src="{{ asset('images/Panneau12_new.png') }}" width="42" title="Panneau" alt="Panneau1">
							<img id="decor5" class="draggable elementsDraggable" src="{{ asset('images/panneau__droit1.png') }}" width="40" title="Panneau" alt="Panneau2">
							<img id="decor5" class="draggable elementsDraggable" src="{{ asset('images/panneau__droit2.png') }}" width="39" title="Panneau" alt="Panneau2">
							<img id="decor5" class="draggable elementsDraggable" src="{{ asset('images/Panneau7_new.png') }}" width="30" title="Panneau" alt="Panneau1">
							<img id="decor5" class="draggable elementsDraggable" src="{{ asset('images/Panneau8_new.png') }}" width="30" title="Panneau" alt="Panneau1">

							<!-- Panneaux a fenetres -->
							<img id="decor5" class="draggable elementsDraggable" src="{{ asset('images/Panneau3_fenetre_new.png') }}"width="83" title="Panneau" alt="Panneau3"> 
							<img id="decor5" class="draggable elementsDraggable" src="{{ asset('images/Panneau4 fenetre_new.png') }}" width="60"width="40" title="Panneau" alt="Panneau4">
							<img id="decor5" class="draggable elementsDraggable" src="{{ asset('images/Panneau5_fenetre_new.png') }}" width="60" title="Panneau" alt="Panneau5">
							<img id="decor5" class="draggable elementsDraggable" src="{{ asset('images/Panneau6_fenetre_new.png') }}" width="60" title="Panneau" alt="Panneau6">
							
							<img id="decor5" class="draggable elementsDraggable" src="{{ asset('images/Panneau9_new.png') }}" width="60" title="Panneau" alt="Panneau1">
							<img id="decor5" class="draggable elementsDraggable" src="{{ asset('images/Panneau10_new.png') }}" width="60" title="Panneau" alt="Panneau1">
							
							<img id="decor5" class="draggable elementsDraggable" src="{{ asset('images/Panneau13_fenetre_new.png') }}" width="45" title="Panneau" alt="Panneau1">
							<img id="decor5" class="draggable elementsDraggable" src="{{ asset('images/Panneau14_fenetre_new.png') }}" width="45" title="Panneau" alt="Panneau1">

							<!-- Lignes de faute -->
							<img id="decor1" class="draggable elementsDraggable" style="width: 80px; height: 6px" src="{{ asset('images/faultline1.png') }}" title="ligne de faute" alt="faultline1"> 
							<img id="decor3" class="draggable elementsDraggable" style="height: 80px; width: 6px" src="{{ asset('images/faultline2.png') }}" title="ligne de faute" alt="faultline2">
							<img id="decor4" class="draggable elementsDraggable" style="width: 60px; height: 50px" src="{{ asset('images/faultline3.png') }}" title="ligne de faute" alt="faultline3">
							<img id="decor4" class="draggable elementsDraggable" style="width: 60px; height: 30px" src="{{ asset('images/faultline4.png') }}" title="ligne de faute" alt="faultline4">
							<img id="decor1" class="draggable elementsDraggable" style="width: 150px;" src="{{ asset('images/faultline5.png') }}" title="ligne de faute" alt="faultline5"> 
							<img id="decor3" class="draggable elementsDraggable" style="height: 150px;" src="{{ asset('images/faultline6.png') }}" title="ligne de faute" alt="faultline6">

							<!-- Marques -->
							<img id="decor3" class="draggable elementsDraggable" style="width: 4px;height: 25px" src="{{ asset('images/mark1.png') }}" title="mark1" alt="mark">	
							<img id="decor3" class="draggable elementsDraggable" style="width: 25px;height: 4px" src="{{ asset('images/mark2.png') }}" title="mark2" alt="mark">
							<img id="decor3" class="draggable elementsDraggable" style="width: 4px;height: 25px" src="{{ asset('images/mark3.png') }}" title="mark1" alt="mark">	
							<img id="decor3" class="draggable elementsDraggable" style="width: 25px;height: 4px" src="{{ asset('images/mark4.png') }}" title="mark2" alt="mark">															
						</div>											

						<button  title="Tout les Accessoires et décors" class="btn btn-info btn-accordion btn-sm"><img src="{{ asset('images/Porte1.gif') }}" width="10" height="25" >&nbsp;Accessories & Decors</button>	
						<div id="decor">

							<!-- Accessoire -->
							<!-- Declencheur -->
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/declencheur.png') }}" width="40" title="Déclencheur"  title="Fleche" alt="déclencheur">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/declencheur_pieds2.png') }}" width="25" title="Déclencheur pieds"  alt="declencheur_pieds">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/declencheur_pieds.png') }}" width="25" title="Déclencheur pieds" alt="declencheur_pieds">

							<!-- Cooper -->
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/tunnel_Cooper1.png') }}" width="80" title="Tunnel_Cooper" alt="tunnel_Cooper">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/tunnel_Cooper.png') }}" width="40" title="Tunnel_Cooper" alt="tunnel_Cooper">

							<!-- Tube -->
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/tube_new1.png') }}" width="40" title="Tube" alt="tube">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/tube_new.png') }}" width="28" title="Tube" alt="tube"> 
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/tube_new2.png') }}" width="40" title="Tube" alt="tube">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/tube_new3.png') }}" width="40" title="Tube" alt="tube">

							<!-- Porte plates -->
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/Porte_plate_X6.png') }}" width="50" title="Porte plate X6" alt="Porte_plate_X6">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/Porte_plate_X2.png') }}" width="50" title="Porte plate X2" alt="Porte_plate_X2">

							<!-- Tables -->
							<img id="decor8" class="draggable elementsDraggable" style="width:60px;height:36px" src="{{ asset('images/Table.png') }}" title="Table" alt="table">
							<img id="decor8" class="draggable elementsDraggable" style="width:30px;height:52px" src="{{ asset('images/Table1.gif') }}" title="Table" alt="table"> 
							<img id="decor8" class="draggable elementsDraggable" style="width:30px;height:52px" src="{{ asset('images/table_new.png') }}" title="Table" alt="table">

							<!-- Box -->
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/Boite.png') }}"  width="40" title="Box" alt="boite">

							<!-- Chaises -->
							<img id="decor8" class="draggable elementsDraggable" style="width:20px;height:52px" src="{{ asset('images/chaise1.png') }}" title="Chaise" alt="chaise">
							<img id="decor8" class="draggable elementsDraggable" style="width:18px;height:48px" src="{{ asset('images/chaise2.png') }}" title="Chaise" alt="chaise">
							<img id="decor8" class="draggable elementsDraggable" style="width:20px;height:52px" src="{{ asset('images/chaise3.png') }}" title="Chaise" alt="chaise">

							<!-- Porte -->
							<img id="decor8" class="draggable elementsDraggable" style="width:40px;height:110px" src="{{ asset('images/Porte1.gif') }}" title="Porte" alt="porte">
							<img id="decor8" class="draggable elementsDraggable" style="width:40px;height:110px" src="{{ asset('images/Porte2.gif') }}" title="Porte" alt="porte">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/porte3.png') }}" width="40" title="porte" alt="porte">

							<!-- baril pneus -->
							<img id="decor8" class="draggable elementsDraggable" style="width:35px;height:52px" src="{{ asset('images/baril.png') }}" title="Baril" alt="baril">		
							<img id="decor8" class="draggable elementsDraggable" style="width:50px;height:52px" src="{{ asset('images/PilePneus.png') }}" title="PilePneus" alt="PilePneus">

							<!-- tireur -->
							<img id="decor8" class="draggable elementsDraggable" style="width:63px;height:75px" src= "{{ asset('images/TireurIPSC.png') }}" title="Tireur" alt="moi">

							<!-- Fleches  -->
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/Flechedia1.png') }}" height="90" width="75" title="Fleche" alt="fleche">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/Flechedia2.png') }}" height="90" width="75" title="Fleche" alt="fleche">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/Flechedia3.png') }}" height="90" width="75" title="Fleche" alt="fleche">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/Flechedia4.png') }}" width="75" title="Fleche" alt="fleche">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/Fleche1.png') }}" width="10" title="Fleche" alt="fleche">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/Fleche2.png') }}" width="10" title="Fleche" alt="fleche">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/Fleche3.png') }}" width="100" title="Fleche" alt="fleche">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/Fleche4.png') }}" width="100" title="Fleche" alt="fleche">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/Fleche5.png') }}" width="50" title="Fleche" alt="fleche">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/Fleche6.png') }}" width="50" title="Fleche" alt="fleche">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/Fleche7.png') }}" width="20" title="Fleche" alt="fleche">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/Fleche8.png') }}" width="20" title="Fleche" alt="fleche">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/Flechearr1.png') }}" height="30" title="Fleche" alt="fleche">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/Flechearr2.png') }}" height="30" title="Fleche" alt="fleche">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/Flechearr3.png') }}" width="20" title="Fleche" alt="fleche">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/Flechearr4.png') }}" width="20" title="Fleche" alt="fleche">						
						</div>


						<button  title="Tout les Accessoires et décors" class="btn btn-info btn-accordion btn-sm"><img src="{{ asset('images/velo.png') }}" width="40">&nbsp;Speciales objects</button>	
						<div id="decor">	

							<!-- Palettes -->
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/Palette1.png') }}" width="60" title="Palette"  title="Palette" alt="Palette">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/Palette2.png') }}" width="70" title="Palette"  alt="Palette">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/Palette3.png') }}" width="70" title="Palette" alt="Palette">

							<!-- Popper papier -->
							<img id="paper1" class="draggable elementsDraggable" src="{{ asset('images/target_uspsa.png') }}" width="23" title="target_uspsa" alt="target">	
							<img id="paper1" class="draggable elementsDraggable" src="{{ asset('images/target_universal.png') }}" width="23" title="target_universal" alt="target">	
							<img id="paper1" class="draggable elementsDraggable" src="{{ asset('images/target_rifle.png') }}" width="23" title="target_rifle" alt="target">	

							<!-- CIble police  -->
							<img id="paper1" class="draggable elementsDraggable TrgtPaper" src="{{ asset('images/cible_police_noire.jpg') }}" width="25" title="cible police" alt="cible police">	
							<img id="paper1" class="draggable elementsDraggable TrgtPaper" src="{{ asset('images/cible_police_blanc.jpg') }}" width="25" title="cible police" alt="cible police">

							<!-- Lettres -->
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/A.png') }}" width="20" title="A" alt="A">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/B.png') }}" width="20" title="B" alt="B">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/C.png') }}" width="20" title="C" alt="C">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/D.png') }}" width="20" title="D" alt="D">
							

							<!-- Chiffres -->
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/0.png') }}" width="12" title="0" alt="0">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/1.png') }}" width="10" title="1" alt="1">									
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/2.png') }}" width="10" title="2" alt="2">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/3.png') }}" width="10" title="3" alt="3">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/4.png') }}" width="10" title="4" alt="4">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/5.png') }}" width="10" title="5" alt="5">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/6.png') }}" width="10" title="6" alt="6">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/7.png') }}" width="10" title="7" alt="7">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/8.png') }}" width="10" title="8" alt="8">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/9.png') }}" width="10" title="9" alt="9">

							<!-- Metres yards -->
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/yd.png') }}" width="40" title="metres" alt="metres">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/yard.png') }}" width="40" title="metres" alt="metres">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/metres.png') }}" width="40" title="metres" alt="metres">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/m.png') }}" width="15" title="m" alt="m">	

							<!-- Accessoires -->
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/scooter.png') }}" width="80" title="scooter" alt="scooter">	
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/velo.png') }}" width="80" title="velo" alt="velo">	
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/Scooterdesmers.png') }}" width="100" title="Scooterdesmers" alt="Scooterdesmers">	
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/baignoire.png') }}" width="60" title="baignoire" alt="baignoire">					
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/tv.png') }}" width="30" title="tv" alt="tv">	

							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/quille.png') }}" width="10" title="quille" alt="quille">	
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/bouteille.png') }}" width="10" title="bouteille" alt="bouteille">	

							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/plateau.png') }}" width="15" title="plateau" alt="plateau">	

							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/porte_cible8.png') }}" width="80" title="porte_cible8" alt="porte_cible8">	
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/porte_cible6.png') }}" width="80" title="porte_cible6" alt="porte_cible6">

							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/etoile_cible.png') }}" width="80" title="etoile_cible" alt="etoile_cible">	
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/Etoile.png') }}" width="80" title="Etoile" alt="Etoile">	
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/double_etoile.png') }}" width="80" title="double_etoile" alt="double_etoile">	

							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/drapeau_gauche.png') }}" width="30" title="drapeau_gauche" alt="drapeau_gauche">	
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/drapeau_droite.png') }}" width="30" title="drapeau_droite" alt="drapeau_droite">
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/cone.png') }}" width="30" title="cone" alt="cone">	

							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/arbre2.png') }}" width="80" title="arbre2" alt="arbre2">	
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/arbre1.png') }}" width="80" title="arbre1" alt="arbre1">	
							<img id="decor8" class="draggable elementsDraggable" src="{{ asset('images/buisson.png') }}" width="50" title="buisson" alt="buisson">																		

							<!-- Vehicule -->
							<img id="decor8" class="draggable elementsDraggable" style="height:60px" src= "{{ asset('images/clio1.png') }}" title="Véhicule" alt="clio">
							<img id="decor8" class="draggable elementsDraggable" style="height:60px" src= "{{ asset('images/clio2.png') }}" title="Véhicule" alt="clio"> 
							<img id="decor8" class="draggable elementsDraggable" style="height:60px" src= "{{ asset('images/clio3.png') }}" title="Véhicule" alt="clio"> 
							<img id="decor8" class="draggable elementsDraggable" style="height:60px" src= "{{ asset('images/clio4.png') }}" title="Véhicule" alt="clio">	

							<!-- Gros accessoires -->
							<img id="decor8" class="draggable elementsDraggable" style="height:90px" src= "{{ asset('images/platform1.png') }}" title="platform1" alt="platform1">
							<img id="decor8" class="draggable elementsDraggable" style="height:40px" src= "{{ asset('images/lit.png') }}" title="lit" alt="lit"> 	
							<img id="decor8" class="draggable elementsDraggable" style="height:40px" src= "{{ asset('images/tapecul.png') }}" title="tapecul" alt="tapecul">	
							<img id="decor8" class="draggable elementsDraggable" style="height:60px" src= "{{ asset('images/logo_ipsc.png') }}" title="logo ipsc" alt="logo ipsc">					
						</div>

						<!-- debut Uploader des objets -->
						<button title="Upload objects" class="btn btn-info btn-accordion"><img src="{{ asset('images/tireur.png') }}" width="30">&nbsp;Upload your logo or objects</button>

						<div id="decor"><br>
							<button style="width: 245px;" type="button" class="btn btn-info btn-sm mb-3" data-toggle="modal" data-target="#uploadModal">Upload your logo objects file</button><br>

								<img id="decor8" class="draggable elementsDraggable ui-draggable" src="{{ asset('images/logo-ipsc.png') }}" style="height: 100px;" title="Perso_object" alt="Object">
								<img id="decor8" class="draggable elementsDraggable ui-draggable" src="{{ asset('images/logo-tsvstagemaker.png') }}" style="height: 100px;" title="Perso_object" alt="Object">
								<img id="decor8" class="draggable elementsDraggable TrgtPaper svg-item" src="{{ asset('images/svg/target-ipsc-std-fr.svg') }}" title="Perso_object" alt="target">



						{# 	<div class="row">
								<div class="col-md-6 mx-auto">
									<div class="form-group">
										<form method='post' action='{{ path('app_upload_logo') }}' enctype="multipart/form-data">
											{{ form_start(formUploadLogo) }}
											<div class="row">
												<div class="col-md-12">
												{{ form_row(formUploadLogo.name) }}
												</div>
											</div>								            
											<div class="row">
												<div class="col-md-12">												
													<input value="{{ csrf_token('stage_create_logo') }}" name="_token_logo" type="hidden">
												<button class="btn btn-info btn-sm" formnovalidate type="submit">Upload</button>
												</div>
											</div> 
										</form>
									</div>     
								</div>
							</div> #}



								
							{# 	{% for listlogo in app.user.uploadLogos %}

									<img id="decor8" class="draggable elementsDraggable ui-draggable" src="{{ asset(listlogo.getLogopath) }}" style="width: 200px; height: 200px" title="{{ listlogo.getName }}" alt="Object">

								 {% endfor %} #}
								<div class="div-logo-all">
								 {% for listlogo in app.user.uploadLogos %}
								
								{# <span class="delete-logo">&times</span> #}
									<div class="div-logo zoom">
									{# Delete logo #}
										<a class="delete-logo-a" href="#" title="Delete logo or object" onclick="event.preventDefault(); confirm('Are you sure you want to delete this Logo or Objects : {{ listlogo.getName }} ?') && document.getElementById('js-logo-delete-stage-{{ listlogo.id }}').submit();"><span class="delete-logo">&times</span></a>
										{# Form Delete logo #}
										<form id="js-logo-delete-stage-{{ listlogo.id }}" action="{{ path('app_logo_delete', {'id': listlogo.id}) }}" method="post" style="display: none;">
											<input type="hidden" name="csrf_token" value="{{ csrf_token('logo_deletion_stage_' ~ listlogo.id) }}">
											<input type="hidden" name="_method" value="DELETE">
										</form>

										<img id="decor8" class="logo-uploaded draggable elementsDraggable" src="{{ asset(listlogo.getLogopath) }}" style="height: 100px;" title="{{ listlogo.getName }}" alt="Object">

										{# <div id='preview2'></div>  #}

									</div>
							{% endfor %}
						</div>


							</div>
						</div>
						<!-- Uploader des objets -->				

						<hr class="style-one">
						<!-- debut Grille fond de stage -->
						<h4>Grid</h4> 							
						<div class="grid">
							<button title="Séléctioner ou Créer match" class="btn btn-info btn-sm grid-btn" type="button" onclick="actveGrid();">Grid 1</button>

							<button title="Séléctioner ou Créer match" class="btn btn-info btn-sm grid-btn" type="button" onclick="actveGrid1();">Grid 2</button>

							<button title="Séléctioner ou Créer match" class="btn btn-info btn-sm grid-btn" type="button" onclick="actveGrid2();">Grid 3</button>

							<button title="Séléctioner ou Créer match" class="btn btn-info btn-sm grid-btn" type="button" onclick="dactveGrid();">No grid</button><br>
						</div>

						<hr class="style-one">

						
						<h4>Select color to Change props color</h4>
						<div>
							{# <input type="text" id="colorInputText"> #}
							<input type="color" class="mb-3 btn-input rounded"  id="colorInputColor"><br>
							<input type="button" class="btn btn-info btn-sm" id="colorButton" value="Click to Change Color" onclick="changeColor()">
						</div>
						{# <div>
							 <ul class="changecolor">  
								<li class="btnorange" id="btn-orange"></li>
								<li class="btnvert" id="btn-vert"></li>
								<li class="btnvert2" id="btn-vert2"></li>
								<li class="btngris" id="btn-gris"></li>
								<li class="btnbleu" id="btn-bleu"></li>
								<li class="btnreset" id="btn-reset"></li>
							</ul> 
						</div> #}
					
						<!-- debut Grille fond de stage -->
						<hr class="style-one">

						<!-- debut Selection match -->						
						<div class="text-align">
						<h4>Match</h4>
							
								<div class="col-md-8 mx-auto">
								<div class="row">
									<div class="col-md-12 col-md-5">
										<label class="modal-title" for="matchs_id">Associate stage to match 
											<a class="info modalhelp" data-toggle="modal" data-target="#exampleModalLong">
												<i class="fa fa-info 2x iconinfo"></i>			
											</a>
										</label>										
											{# <select class="form-control" name="MatchsId" id="MatchsId">	
													<option value="0">Training</option>
												{% for matchList in app.user.matchs %}	
													<option value="{{ matchList.getId }}">{{ matchList.getName }}</option>
												{% endfor %}													
											</select> #}	
												{# {{ form_row(formMatch.MatchsId) }} #}
												<div name="MatchsId">
													{{ form(formMatch) }}													
												</div>
													

										
													{# {{ dump(formMatch) }} #}
										{# 		{% for formMatch in app.user %}
													{{ form(formMatch) }}
												{% endfor %}	#}
											
									</div>
									</div>
									<!-- Selection match -->

									<div class="row">
									<div class="col-md-12 col-md-5">
										<label class="labeltal" for="FirearmId">Firearm Type:</label>
											<select class="form-control" name="FirearmId" id="FirearmId">
												<option value="1" selected="selected">Handgun</option>
												<option value="2">Rifle</option>
												<option value="3">Shotgun</option>		
												<option value="5">Action Air</option>	
												<option value="6">Mini-Rifle</option>	
												<option value="7">Pistol Caliber Carbine</option>				
											</select>											
									</div>
									</div>								

									{# <div class="row text-align">
									<div class="col-md-6 col-md-3">
										<label for="ReportOn">ReportOn</label>
										<select class="form-control" name="ReportOn" id="ReportOn">
											<option value="0" selected="selected">Without</option>
											<option value="1">With</option>		
										</select>	
									</div>
									<div class="col-md-6 col-md-3">
										<label for="StringCnt">StringCnt</label>
										<select class="form-control" name="StringCnt" id="StringCnt">
											<option value="0" selected="selected">Without</option>
											<option value="1">With</option>		
										</select>
									</div>
									</div>									
 #}
									<div class="row">
									<div class="col-md-6 col-md-3">
										<label class="labeltal" for="TrgtTypeId">Type of Targets:</label>
											<select class="form-control" name="TrgtTypeId" id="TrgtTypeId">
												<option value="2" selected="selected">Classic</option>
												<option value="1">Metric</option>				
											</select>										
									</div>

									<div class="col-md-6 col-md-3">									
										<label class="labeltal" for="ScoringId">Type of Scoring:</label>
											<select class="form-control" name="ScoringId" id="ScoringId">
												<option value="1" selected="selected">Comstock</option>
												<option value="2">Fixed Time</option>
												<option value="3">Virginia Count</option>						
											</select>
											
									</div>
									</div>

									<div class="row text-align mt-3">
									<div class="col-md-12 col-md-5">									
										 <div class="form-check">
										    <input type="checkbox" class="form-check-input" id="Withdraw" name="Withdraw">
										    <label class="form-check-label" for="Withdraw">Exclude From Scorring (Withdraw)</label>
									  	</div>										
									</div>									
									</div>		
								</div>	
								<script>								
									// let checkbox = document.getElementById("checkbox");
									// 	checkbox('checked', checkbox.val() === 'true');

										// $('input[name=checkbox]').prop('checked') ;
								</script>							
														
						</div>	
						<hr class="style-one">		
						<!-- OPTIONS -->
						<div id="PDFcontent">
							<fieldset>
								<legend> <h4>Options</h4> </legend>	
								<div class="optionstage">			
									<button   title="Effacer tout" id="reset"class="btn btn-info abutton efface" type="button">Reset stage</button><br>												

									<button title="Sauvegarder le stage en pdf dans votre profil" class="btn btn-info abutton sauvegarde" type="button" onclick="uploadFile();">Save stage</button>

									<button id="downloadButton" title="Télécharger le stage en pdf directement sur votre PC" class="btn btn-info abutton telecharge" type="button" onclick="savPDF();">Download stage</button>
								</div>				
							</fieldset>
							{# <button onclick="test()">Try it</button>
							 <script>
							 	function test() 
           {
             let svg = document.getElementById('decorsvg').innerHTML;  
            document.getElementById("decorsvg").style.display = "block";
            }
							 </script> #}

							<hr class="style-one">

							<!-- Document PDF IPSC -->
							<fieldset>
								<legend> <h4>Documents (PDF)</h4> </legend>					
								<!-- <input class="btn btn-info" type="button" value="Instructions" onclick="window.location='doc/Instructions.html';">	 -->			
								<a href="{{ asset('doc/IPSC_Target_Array_Book_2019_EN_FR_V1.pdf') }}" target="_blank" title="IPSC Target Guide en PDF" class="btn btn-info abutton">IPSC Targer Guide</a>

								<a href="{{ asset('doc/IPSC_Rule_Books_2019.pdf') }}" target="_blank" title="IPSC Target Guide en PDF" class="btn btn-info abutton">IPSC Rule Books HG 2019</a>

								<a href="{{ asset('doc/RulesPCC.pdf') }}" target="_blank" title="IPSC Target Guide en PDF" class="btn btn-info abutton">IPSC Rule Books PCC 2019</a>

								<a href="{{ asset('doc/RulesShotgunFREN.pdf') }}" target="_blank" title="IPSC Target Guide en PDF" class="btn btn-info abutton">IPSC Rule Books Shotgun 2017</a>

								<a href="{{ asset('doc/RulesRifleFREN.pdf') }}" target="_blank" title="IPSC Target Guide en PDF" class="btn btn-info abutton">IPSC Rule Books Rifle 2017</a>

								<a href="{{ asset('doc/HandGunEquipementCheck.pdf') }}" target="_blank" title="IPSC Target Guide en PDF" class="btn btn-info abutton">HandGun Equipement Check</a>
								

								{# <button  title="IPSC Rules Book 2019 en PDF" class="btn btn-info" type="button" onclick=" window.open('doc/IPSC_Rule_Books_2019.pdf', '_blank'); return false;">IPSC Rule Books HG 2019</button>

								<button   title="HandGun Equipement Check en PDF" class="btn btn-info" type="button" onclick=" window.open('doc/RulesPCC.pdf', '_blank'); return false;">IPSC Rule Books PCC 2019</button>	

								<button   title="HandGun Equipement Check en PDF" class="btn btn-info" type="button" onclick=" window.open('doc/RulesShotgunFREN.pdf', '_blank'); return false;">IPSC Rule Books Shotgun 2017</button>	

								<button   title="HandGun Equipement Check en PDF" class="btn btn-info" type="button" onclick=" window.open('doc/RulesRifleFREN.pdf', '_blank'); return false;">IPSC Rule Books Rifle 2017</button>	

								<button   title="HandGun Equipement Check en PDF" class="btn btn-info" type="button" onclick=" window.open('doc/HandGunEquipementCheck.pdf', '_blank'); return false;">HandGun Equipement Check</button> #}							
							</fieldset>									
						</div>	
					</div>
				</div>                
			</div>
		</div>
</div>

 <!-- Modal documentation-->
					  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
					    <div class="modal-dialog" role="document">
					      <div class="modal-content">
					        <div class="modal-header">
					          <h5 class="modal-title" id="exampleModalLongTitle">INSTRUCTIONS TSV STAGE MAKER</h5>
					          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					            <span aria-hidden="true">&times;</span>
					          </button>
					        </div>
					        <div class="modal-body">
					          <div class="embed-responsive embed-responsive-4by3">
					            <embed id="mydoc" src="{{ asset('doc/INSTRUCTIONS_TSV_STAGE_MAKER_V2-A.pdf') }}" width="100%" height="100%" type='application/pdf'/>
					          </div>
					        </div>
					        <div class="modal-footer">
					          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>   
					        </div>
					      </div>
					    </div>
					  </div>


	<!-- Modal upload file perso object-->				
				<div id="uploadModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Upload Logo or Objects File</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<!-- Form -->
								<form method='post' action='' enctype="multipart/form-data">
									Select file : 
									<input type='file' name='file' id='file' class='form-control'>
									<input value="{{ csrf_token('stage_create_logo') }}" name="_token_logo" type="hidden">
									<div class="d-flex justify-content-between" >
										<input type='button' class='btn btn-info btn-sm mt-1' value='Upload' id='btn_upload'>
									{# <button class="btn btn-info btn-sm mt-1" type='button' onclick="uploadLogo();">Send</button>  #}
									</form>
									<form method='get' action="">
										<button class="btn btn-info btn-sm mt-1" href="{{ path('app_stage_create') }}">Send</button>
									</form>
									
									<button type="button" class="btn btn-secondary btn-sm mt-1" data-dismiss="modal">Close</button>
									</div>
									
								 
								<div class="modal-footer mt-1">
									<!-- Preview-->
									<div id='preview'></div>        
								</div>  
							</div>
						</div>
					</div>				


				</div>
{% endblock %}