<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="msapplication-square70x70logo" content="images/TSM_small.png" />        
        <meta name="msapplication-square150x150logo" content="images/TSM_medium.png" />
        <meta name="msapplication-wide310x150logo" content="images/TSM_wide.png" />
        <meta name="msapplication-square310x310logo" content="images/TSM_large.png" />
        <meta name="msapplication-TileColor" content="#FFFFFF">
        <meta name="msapplication-TileImage" content="images/icon.png">
        <meta name="application-name" content="TSV STAGE MAKER">
        <title>{% block title %}Welcome!{% endblock %}</title>


        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
        {# <link rel="preconnect" href="https://fonts.gstatic.com"> #}
		<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">		
		<link rel="stylesheet" href="{{ asset('css/navbar-style.css') }}" />
		<link rel="stylesheet" href="{{ asset('css/match-style.css') }}" />
		<link rel="stylesheet" href="{{ asset('css/stage-style.css') }}" />
		<link rel="stylesheet" href="{{ asset('css/main-style.css') }}" />
        {% block stylesheets %}{% endblock %}
    </head>
     <body>

{% if app.user %}
{# Navbar if connected#}    
<nav class="navbar navbar-expand-xl navbar-light bg-light fixed-top">
	<a class="navbar-brand" href="{{ path('app_home') }}"><img src="{{ asset('images/logo_navbar.png') }}" alt="logo ipsc tsv stage maker">TSV STAGE MAKER</a>
	{# <a href="#" class="navbar-brand"><i class="fa fa-cube"></i>Brand<b>Name</b></a>  #} 		
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">		
		{# <form class="navbar-form form-inline">
			<div class="input-group search-box">								
				<input type="text" id="search" class="form-control" placeholder="Search here...">
				<span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
			</div>
		</form> #}
		<div class="navbar-nav ml-auto">
			<a href="{{ path('app_home') }}" class="nav-item nav-link {% if current_menu is defined and current_menu == 'app_home' %}active{% endif %}"><i class="fa fa-home"></i><span>Home</span></a>
			<a href="{{ path('app_about') }}" class="nav-item nav-link {% if current_menu is defined and current_menu == 'app_about' %}active{% endif %}"><i class="fa fa-info-circle"></i><span>About</span></a>
			<a href="{{ path('app_allstage') }}" class="nav-item nav-link {% if current_menu is defined and current_menu == 'app_allstage' %}active{% endif %}"><i class="fa fa-share-alt-square"></i><span>AllStages</span></a>
			{# <a href="{{ path('app_home') }}" class="nav-item nav-link"><i class="fa fa-pie-chart"></i><span>Reports</span></a> #}
			<a href="#" class="nav-item nav-link"><i class="fa fa-gears"></i><span>Admin</span></a>
			<a href="{{ path('app_contact') }}" class="nav-item nav-link {% if current_menu is defined and current_menu == 'app_contact' %}active{% endif %}"><i class="fa fa-envelope"></i><span>Contact</span></a>		
			{# <a href="#" class="nav-item nav-link"><i class="fa fa-bell"></i><span>Notifications</span></a> #}
			<div class="nav-item dropdown">
				<a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action"><img src="{{ asset('images/logo_navbar.png') }}" alt="profile ipsc tsv stage maker" class="avatar" alt="Avatar"> {{ app.user.firstname|capitalize }} <b class="caret"></b></a>
				<div class="dropdown-menu">
					<a href="{{ path('profile') }}" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a>
					<a href="{{ path('app_matchs') }}" class="dropdown-item {% if current_menu is defined and current_menu == 'app_matchs' %}active{% endif %}"><i class="fa fa-list"></i> Matchs</a>
					<a href="{{ path('app_stages') }}" class="dropdown-item {% if current_menu is defined and current_menu == 'app_stages' %}active{% endif %}"><i class="fa fa-list-ol"></i> Stages</a>
					<div class="divider dropdown-divider"></div>

					<a href="#" onclick="event.preventDefault(); document.getElementById('js-logout-form').submit();" class="dropdown-item"><i class="material-icons logout-icon">&#xE8AC;</i> Logout</a>
					<form id="js-logout-form" action="{{ path('app_logout') }}" method="POST" style="display: none;">
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
					</form>
				</div>
			</div>
		</div>
	</div>
</nav>
{# Navbar #}

{% else %}
{# Navbar if not connected#}    
<nav class="navbar navbar-expand-xl navbar-light bg-light fixed-top">
	<a class="navbar-brand" href="{{ path('app_home') }}"><img src="{{ asset('images/logo_navbar.png') }}" alt="logo ipsc tsv stage maker">TSV STAGE MAKER</a>
	{# <a href="#" class="navbar-brand"><i class="fa fa-cube"></i>Brand<b>Name</b></a>  #} 		
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">	
		<div class="navbar-nav ml-auto">
			<a href="{{ path('app_home') }}" class="nav-item nav-link {% if current_menu is defined and current_menu == 'app_home' %}active{% endif %}"><i class="fa fa-home"></i><span>Home</span></a>
			<a href="{{ path('app_about') }}" class="nav-item nav-link {% if current_menu is defined and current_menu == 'app_about' %}active{% endif %}"><i class="fa fa-info-circle"></i><span>About</span></a>
			<a href="{{ path('app_allstage') }}" class="nav-item nav-link {% if current_menu is defined and current_menu == 'app_allstage' %}active{% endif %}"><i class="fa fa-share-alt-square"></i><span>AllStages</span></a>
			<a href="{{ path('app_contact') }}" class="nav-item nav-link {% if current_menu is defined and current_menu == 'app_contact' %}active{% endif %}"><i class="fa fa-envelope"></i><span>Contact</span></a>
			<a href="{{ path('app_login') }}" class="nav-item nav-link {% if current_menu is defined and current_menu == 'app_login' %}active{% endif %}"><i class="material-icons login-icon">&#xE8AC;</i><span>Login</span></a>
			<a href="{{ path('app_register') }}" class="nav-item nav-link {% if current_menu is defined and current_menu == 'app_register' %}active{% endif %}"><i class="fa fa-sign-in"></i><span>Register</span></a>	
		
		</div>
	</div>
</nav>
{# Navbar #}
 {% endif %}

 {{ include('layouts/partials/_flash_messages.html.twig') }} 
   
        {% block body %}{% endblock %}

{{ include('layouts/partials/_footer1.html.twig') }} 

