{% extends 'base.html.twig' %}

{% block title match.name %}

{% block body %}

<div class="container mt-4">
<div class="container"><br>
   <h1 class="titre-edit-match">Edit match: {{ match.name }}</h1><br>
  <div class="match"> 

        <form method="post" action="" onsubmit="return createMatch();"> 
{#         <input value="{{ csrf_token('match_edit_') }}" name="_token" type="hidden">  #}        
          <div class="row">
            <div class="col-md-12">         
                <label for="name">Match Name*</label>
                <input class="form-control" name="name" type="text" value="{{ match.name }}">             
            </div>
            <div class="col-md-12">
              <label for="example-date-input" id="match_id" >Date*</label>
              <div >
                <input class="form-control" type="date" value="{{ match.startAt }}" name="startAt" id="startAt">
              </div>
            </div>
            <div class="col-md-4">
              <label for="clubName">Club name</label>
              <input class="form-control" name="clubName" type="text" value="{{ match.clubName }}">
            </div>
            <div class="col-md-4">
              <label for="SquadCount">Nb of squads</label>
              <select class="form-control" name="SquadCount" id="SquadCount">
                <option value="0" selected="selected">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
                <option value="32">32</option>
                <option value="33">33</option>
                <option value="34">34</option>
                <option value="35">35</option>
                <option value="36">36</option>
                <option value="37">37</option>
                <option value="38">38</option>
                <option value="39">39</option>
                <option value="40">40</option>
                <option value="41">41</option>
                <option value="42">42</option>
                <option value="43">43</option>
                <option value="44">44</option>
                <option value="45">45</option>
                <option value="46">46</option>
                <option value="47">47</option>
                <option value="48">48</option>
                <option value="49">49</option>
                <option value="50">50</option>
                <option value="51">51</option>
                <option value="52">52</option>
                <option value="53">53</option>
                <option value="54">54</option>
                <option value="55">55</option>
                <option value="56">56</option>
                <option value="57">57</option>
                <option value="58">58</option>
                <option value="59">59</option>
                <option value="60">60</option>
                <option value="61">61</option>
                <option value="62">62</option>
                <option value="63">63</option>
                <option value="64">64</option>
                <option value="65">65</option>
                <option value="66">66</option>
                <option value="67">67</option>
                <option value="68">68</option>
                <option value="69">69</option>
                <option value="70">70</option>
                <option value="71">71</option>
                <option value="72">72</option>
                <option value="73">73</option>
                <option value="74">74</option>
                <option value="75">75</option>
                <option value="76">76</option>
                <option value="77">77</option>
                <option value="78">78</option>
                <option value="79">79</option>
                <option value="80">80</option>
                <option value="81">81</option>
                <option value="82">82</option>
                <option value="83">83</option>
                <option value="84">84</option>
                <option value="85">85</option>
                <option value="86">86</option>
                <option value="87">87</option>
                <option value="88">88</option>
                <option value="89">89</option>
                <option value="90">90</option>
                <option value="91">91</option>
                <option value="92">92</option>
                <option value="93">93</option>
                <option value="94">94</option>
                <option value="95">95</option>
                <option value="96">96</option>
                <option value="97">97</option>
                <option value="98">98</option>
                <option value="99">99</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="CountryId">Region</label>
              <select class="form-control" name="CountryId" id="CountryId">
                <option value="OTH">OTHER</option>
                <option value="AND">AND Andorra</option>
                <option value="ARG">ARG Argentina</option>
                <option value="ARU">ARU Aruba</option>
                <option value="AUS">AUS Australia</option>
                <option value="AUT">AUT Austria</option>
                <option value="BAR">BAR Barbados</option>
                <option value="BLR">BLR Belarus</option>
                <option value="BEL">BEL Belgium</option>
                <option value="BOL">BOL Bolivia</option>
                <option value="BIH">BIH Bosnia Herzegovina</option>
                <option value="BRA">BRA Brazil</option>
                <option value="BUL">BUL Bulgaria</option>
                <option value="CAM">CAM Cambodia</option>
                <option value="CAN">CAN Canada</option>
                <option value="CAY">CAY Cayman Islands</option>
                <option value="CNI">CNI Channel Islands</option>
                <option value="CHI">CHI Chile</option>
                <option value="CHN">CHN China</option>
                <option value="COL">COL Colombia</option>
                <option value="CRC">CRC Costa Rica</option>
                <option value="CRO">CRO Croatia</option>
                <option value="CUW">CUW Curacao</option>
                <option value="CYP">CYP Cyprus</option>
                <option value="CZE">CZE Czech Republic</option>
                <option value="DEN">DEN Denmark</option>
                <option value="ECU">ECU Ecuador</option>
                <option value="ESA">ESA El Salvador</option>
                <option value="EST">EST Estonia</option>
                <option value="FIJ">FIJ Fiji</option>
                <option value="FIN">FIN Finland</option>
                <option value="FRA" selected="selected">FRA France</option>
                <option value="GER">GER Germany</option>
                <option value="GIB">GIB Gibraltar</option>
                <option value="GBR">GBR Great Britain</option>
                <option value="GRE">GRE Greece</option>
                <option value="GRN">GRN Grenada</option>
                <option value="GUM">GUM Guam</option>
                <option value="GUA">GUA Guatemala</option>
                <option value="GUY">GUY Guyana</option>
                <option value="HON">HON Honduras</option>
                <option value="HKG">HKG Hong Kong</option>
                <option value="HUN">HUN Hungary</option>
                <option value="INA">INA Indonesia</option>
                <option value="IRL">IRL Ireland, Republic Of</option>
                <option value="IOM">IOM Isle Of Man</option>
                <option value="ISR">ISR Israel</option>
                <option value="ITA">ITA Italy</option>
                <option value="JAM">JAM Jamaica</option>
                <option value="JPN">JPN Japan</option>
                <option value="KAZ">KAZ Kazakhstan</option>
                <option value="KEN">KEN Kenya</option>
                <option value="KOR">KOR Korea, Republic Of</option>
                <option value="KUW">KUW Kuwait</option>
                <option value="LAO">LAO Laos</option>
                <option value="LAT">LAT Latvia</option>
                <option value="LBN">LBN Lebanon</option>
                <option value="LTU">LTU Lithuania</option>
                <option value="MAC">MAC Macau</option>
                <option value="MAS">MAS Malaysia</option>
                <option value="MLT">MLT Malta</option>
                <option value="MEX">MEX Mexico</option>
                <option value="MDA">MDA Moldova</option>
                <option value="MON">MON Monaco</option>
                <option value="MGL">MGL Mongolia</option>
                <option value="MTO">MTO Montenegro</option>
                <option value="NAM">NAM Namibia</option>
                <option value="NED">NED Netherlands</option>
                <option value="NZL">NZL New Zealand</option>
                <option value="NCA">NCA Nicaragua</option>
                <option value="NIR">NIR Northern Ireland</option>
                <option value="NOR">NOR Norway</option>
                <option value="PAK">PAK Pakistan</option>
                <option value="PAN">PAN Panama</option>
                <option value="PNG">PNG Papua New Guinea</option>
                <option value="PAR">PAR Paraguay</option>
                <option value="PER">PER Peru</option>
                <option value="PHI">PHI Philippines</option>
                <option value="POL">POL Poland</option>
                <option value="POR">POR Portugal</option>
                <option value="PUR">PUR Puerto Rico</option>
                <option value="QAT">QAT Qatar</option>
                <option value="ROU">ROU Romania</option>
                <option value="RUS">RUS Russia</option>
                <option value="LCA">LCA Saint Lucia</option>
                <option value="SER">SER Serbia</option>
                <option value="SIN">SIN Singapore</option>
                <option value="SVK">SVK Slovak Republic</option>
                <option value="SLO">SLO Slovenia</option>
                <option value="RSA">RSA South Africa</option>
                <option value="ESP">ESP Spain</option>
                <option value="SRI">SRI Sri Lanka</option>
                <option value="SUR">SUR Suriname</option>
                <option value="SWZ">SWZ Swaziland</option>
                <option value="SWE">SWE Sweden</option>
                <option value="SUI">SUI Switzerland</option>
                <option value="TPE">TPE Taiwan</option>
                <option value="THA">THA Thailand</option>
                <option value="TRI">TRI Trinidad And Tobago</option>
                <option value="TUR">TUR Turkey</option>
                <option value="UKR">UKR Ukraine</option>
                <option value="UAE">UAE United Arab Emirates</option>
                <option value="USA">USA United States</option>
                <option value="URU">URU Uruguay</option>
                <option value="VEN">VEN Venezuela</option>
                <option value="ZIM">ZIM Zimbabwe</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="firearmtype">Firearm type*</label>
              <select class="form-control" name="firearmtype" id="firearmtype">
                <option value="1">Handgun</option>
                <option value="2">Rifle</option>
                <option value="3">Shotgun</option>
                <option value="5">Action Air</option>
                <option value="6">Mini-Rifle</option>
                <option value="7">Pistol Caliber Carbine</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="matchlevel">Match level*</label>
              <select onchange="if (($(this).val()*1)>=3) { $('#addonRows2').removeClass('collapse'); } else { $('#addonRows2').addClass('collapse'); }" class="form-control" name="matchlevel" id="matchlevel">
                <option value="0" selected="selected">Training</option>
                <option value="1">LEVEL I</option>
                <option value="2">LEVEL II</option>
                <option value="3">LEVEL III</option> <!-- rm, md, sd a ajouter avec condition -->
                <option value="4">LEVEL IV</option>
                <option value="5">LEVEL V</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="matchid">Match Id**</label>
              <select class="form-control" name="matchid" id="matchid">
                <option value="1" selected="selected">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
              </select>
            </div>
            <div class="col-md-12">
              <br/>
              <div id="addonRows2" class="collapse">
                <div class="row">
                  <div class="col-md-4">
                    <label>(MD) Match Director*</label>
                    <input type="text" name="MatchDirector" id="match_director" class="form-control" value="{{ match.MatchDirector }}">
                  </div>
                  <div class="col-md-4">
                    <label>(RM) Range Master*</label>
                    <input type="text" name="RangeMaster" id="range_master" class="form-control" value="{{ match.RangeMaster }}">
                  </div>
                  <div class="col-md-4">
                    <label>(SD) Stats Director*</label>
                    <input type="text" name="StatsDirector" id="stats_director" class="form-control" value="{{ match.StatsDirector }}">
                    <br>
                  </div>
                </div>
              </div>
            </div>
            <input type="hidden" name="id" value="{{ match.id }}">
            <br>
            <div class="col-md-12">

            <input type="hidden" name="csrf_token" value="{{ csrf_token('match_edit_' ~ match.id) }}">
            <input type="hidden" name="_method" value="PUT"> 

             <button title="Edit match" name="editmatch" class="btn btn-info btn-block btn-sm" type="submit" onclick="return confirm('Are you sure you want to edit match: {{ match.name }} ?')">Edit match</button>

            {#  <a class="btn-match btn btn-info" href="#" onclick="event.preventDefault(); confirm('Are you sure you want to edit match: {{ match.name }} ?') && document.getElementById('js-match-edit-form').submit();">Edit match</a>
                            <form id="js-match-edit-form" action="{{ path('match_edit', {'id': match.id}) }}" method="post" style="display: none;">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token('match_edit_' ~ match.id) }}">
                            <input type="hidden" name="_method" value="PUT">                     
                            </form>      #}

        </div>
         </div> 
       </form>
   </div>
    <a class="mt-3 btn btn-info btn-sm" href="{{ path('app_match_show', {'id': match.id}) }}">Go back</a>
   <br>    
 </div>
               

</div>
{% endblock %}